.Header-li {
    display: inline-block;
    font-size: 25px;
    padding-right:45px;
    margin-right: 45px;
}

.Header-ul {
    text-align: center;
    width: auto;
    margin-top: 0px;
    background-color: black;
}

.Header-a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.Header-a:hover {
    color: red;
    text-decoration: underline;
}

