.Header-li {
    display: inline-block;
    font-size: 25px;
    margin-right: 5%;
    margin-left: 5%;
    width: 9%;
    text-align: center;
}

.Header-ul {
    text-align: center;
    width: 100%;
    margin: 0px;
    background-color: black;
    padding: 1%;
    position: fixed;
    top: 0;
}

.Header-a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.Header-a:hover {
    color: lightseagreen;
}