.HomePage {
    /*border: 2px solid black;*/
    background:#6EC73B;
    text-align: center; 
    color: #000;
    font-family: 'Courier New';
    font-size: 25px;
    margin: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 192px;
  }