/*.Projects-Heading {
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid lightgrey;
    padding: 30px;
}*/

.Projects-Image {
        margin-right: 40px;
}


.Projects-Table {
  
    border-collapse: collapse;
    table-layout: auto;
    width: 88%;
    margin-left: 6%;
    margin-bottom: 6%;
    margin-top: 6%;
    margin-right: 6%;
}




