.homepage {
    text-align: center; 
    color: white;
    font-size: 28px;
    padding-top: 19%;
    margin-bottom: 0%;
    height: 380px;
    background-image: url("BG2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

 .homepage-heading {
     text-decoration: none;
 }