

.Project-Image {
        margin-right: 20px;
}


.Project-Table {
  
    border-collapse: collapse;
    table-layout: auto;
    width: 90%;
    margin-left: 5%; 
    margin-bottom: 2%;
    margin-top: 2%;
}



